<h2>
  Enter your email
</h2>

<app-model-state-error></app-model-state-error>
<form *ngIf="form" nz-form (ngSubmit)="onSubmit()" [formGroup]="form">
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your email!">
      <nz-input-group nzPrefixIcon="user">
        <input type="email" nz-input formControlName="email" placeholder="email" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <button [disabled]="form.invalid" class="mb-1" [nzLoading]="loading" nz-button [nzType]="'primary'" nzBlock>Send
    password reset email</button>
</form>