<h2>
  Reset your password
</h2>

<app-model-state-error></app-model-state-error>
<form *ngIf="form" nz-form (ngSubmit)="onSubmit()" [formGroup]="form">
  <nz-form-item>
    <nz-form-control nzErrorTip="Please enter your email!">
      <nz-input-group nzPrefixIcon="user">
        <input type="email" nz-input formControlName="email" placeholder="Email address" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please enter your verify code!">
      <nz-input-group nzPrefixIcon="user">
        <input type="text" nz-input formControlName="code" placeholder="Verify code" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your Password!">
      <nz-input-group nzPrefixIcon="lock">
        <input type="password" nz-input formControlName="password" placeholder="Password" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your Password!">
      <nz-input-group nzPrefixIcon="lock">
        <input type="password" nz-input formControlName="confirmPassword" placeholder="Confirm Password" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <button [disabled]="form.invalid" class="mb-1" [nzLoading]="loading" nz-button [nzType]="'primary'" nzBlock>Submit</button>
</form>